{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Blogpy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{%static 'app_blog/css/base.css'%}">
    <link rel="stylesheet" href="{%static 'app_blog/css/vendor'%}">
    <link rel="stylesheet" href="{%static 'app_blog/css/main.css'%}">
    
    <!-- script
    ================================================== -->
    <script src="{%static 'app_blog/js/modernzr.js'%}"></script>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="{% url 'app_blog:home' %}">
                BLOGPY
            </a>

        </div> <!-- end header__logo -->
        <a class="header__toggle-menu" href="#0" title="Menu"><span>منو</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">هدایت به</h2>

            <ul class="header__nav">
                <li><a href="page-contact.html" title="">تماس</a></li>
                <li><a href="page-about.html" title="">درباره</a></li>
                <li>
                    <a href="category.html" title="">دسته بندی</a>
                </li>

                              <li class="current"><a href="{% url 'app_blog:home' %}" title="">خانه</a></li>
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">بستن</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->


    <!-- featured
    ================================================== -->
    <section class="s-featured">
        <div class="row">
            <div class="col-full">

                <div class="featured-slider featured" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background" style="background-image:url('{%static 'app_blog/images/thumbs/featured/featured-guitarman.jpg'%}');"></div>
                                                                        
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">موزیک</a></span>

                                <h1><a href="#0" title="">آنچه ترجیح موسیقی تان درباره شما و شخصیت شما می گوید</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{%static 'app_blog/images/avatars/user-05.jpeg'%}" alt=""> 
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">محمد بابازاده</a></li>
                                        <li>June 02, 2018</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('{%static 'app_blog/images/thumbs/featured/featured-watch.jpg'%}');"></div>
                                                                 
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">مدیریت</a></span>

                                <h1><a href="#0" title="">تکنیک پومودورو واقعاً کار می کند</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{%static 'app_blog/images/avatars/user-03.jpeg' %}" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">محمد بابازاده</a></li>
                                        <li>June 13, 2018</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('{%static 'app_blog/images/thumbs/featured/featured-beetle.jpg'%}');"></div>
                                                      
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">سبک زندگی</a></span>

                                <h1><a href="#0" title="">تفاوت بین اتومبیل های کلاسیک ،قدیمی و آنتیک </a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{%static 'app_blog/images/avatars/user-03.jpeg' %}" alt="">
                                    </a>                    

                                    <ul class="entry__meta">
                                        <li><a href="#0">محمد بابازاده</a></li>
                                        <li>June 12, 2018</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->


    <!-- s-content
    ================================================== -->

    {% block content %}{% endblock content %}

    <!-- s-footer
    ================================================== -->
    {% include 'app_blog/footer.html' %}

    <!-- Java Script
    ================================================== -->
    <script src= "{%static 'app_blog/js/jquery-3.2.1.min.js'%}"></script>
    <script src= "{%static 'app_blog/js/plugins.js'%}"></script>
    <script src= "{%static 'app_blog/js/main.js'%}"></script>
</body>
</html>



